div.p-6,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

/* Список и задачи */
.task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  align-items: center;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px dashed #aaa;
  border-radius: 4px;
  margin-bottom: 0.5rem;

  width: 100%;
  max-width: 400px;
  cursor: pointer;
  user-select: none;
}

.toggle-btn {
  flex-shrink: 0; /* не сжимается */
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.task-name {
  flex: 1; /* занимает всё оставшееся место */
}


.toggle-btn:hover {
  transform: scale(1.2);
}

/* Неоновые стили */
.neon-done,
.neon-pending {
  transition: all 0.3s;
}

.neon-done {
  color: #16a34a;
  text-shadow: 0 0 2px #16a34a, 0 0 4px #16a34a;
}

.neon-done:hover {
  color: #22c55e;
  text-shadow: 0 0 4px #22c55e, 0 0 8px #22c55e;
}

.neon-pending {
  color: #b91c1c;
  text-shadow: 0 0 1px #b91c1c, 0 0 2px #b91c1c;
}

.neon-pending:hover {
  color: #ef4444;
  text-shadow: 0 0 3px #ef4444, 0 0 6px #ef4444;
}
